body {
    background-color: skyblue;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

li {
    font-family: Calibri;
    color: sienna;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: rgb(166, 23, 23);
    background-image: url('../../static/images/miui\ 01.jpg');
    background-size: cover;
}

.navbar_nav {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.navbar_items {
    font-family: Arial;
    color: white;
    text-decoration: none;
    opacity: 100%;
    margin-right: 40px;
}

.home_grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0px;
}

.home_grid_elements {
    background-color: white;
    width: 220px;
    height: 220px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.home_images {
    width: 115px;
    height: 115px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin-top: 15px;
}

.in_home_grid_elements {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.track_link {
    color: white;
    text-decoration: none;
    font-family: Arial;
}

.track_list_header {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.pagination_block {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 91%;
}

.pagination_page {
    margin-right: 10px;
    font-family: Calibri;
    color: white;
    font-size: larger;
}

.arrow {
    width: 25px;
    height: 25px;
}

.positive_like_button {
    background-color: rgb(189, 224, 255);
    border-radius: 8px;
    border: none;
    margin: 2px;
}

.positive_like_image {
    margin-top: 1px;
    width: 20px;
    height: 20px;
}

.negative_like_button {
    background-color: rgb(189, 224, 255);
    border-radius: 8px;
    border: none;
    margin: 2px;
}

.negative_like_image {
    margin-top: 1px;
    width: 20px;
    height: 20px;
}

.logout {
    font-family: Calibri;
    border: none;
    background: none;
    color: white;
    font-size: larger;
    margin-right: 40px;
    position: relative;
    bottom: 1px;
}

.new_tracks {
    font-family: Calibri;
    color: white;
    margin: 0px;
    position: relative;
    left: 8.6%
}

.create_track_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(59, 203, 129);
    color: white;
    text-decoration: none;
    font-family: Calibri;
    font-size: larger;
}

.footer_block {
    display: flex;
    margin-top: 200px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: white;
    font-family: Calibri;
    color: blue;
}

.track_create_form {
    width: 420px;
    height: 360px;
    background-color: white;
    border-radius: 10px;
    font-family: Calibri;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
}

input {
    width: 240px;
    border: none;
    border-bottom: solid 1px;
}

.track_create_button {
    background-color: coral;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.track_create_button_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 10px;
    width: 100%;
}

.track_about_page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.track_about_block {
    width: 420px;
    height: 360px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    font-family: Calibri;
}

.track_about_image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.track_about_button_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.update_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(81, 59, 203);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Calibri;
    font-size: larger;
}

.delete_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(203, 100, 59);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Calibri;
    font-size: larger;
}

.performers {
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: white;
    color: rgb(74, 74, 95);
    border-radius: 10px;
}

.performers_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0px;
    margin-top: 20px;
}

.top_song_block {
    width: 400px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sum_like_block {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top_image {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
}

.top_list_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top_list_item {
    font-family: Calibri;
    color: white;
}

.top_list_saibal_header {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 5px;
    justify-content: space-between;
}