{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackhouse</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>

<body>
    
<header>
    <div class="navbar">
    <a href={% url 'tracks_list' %}><h1 class="navbar_items" style="margin-left: 50px;">Trackhouse</h1></a>
    <div class="navbar_nav">
        <a href={% url 'tracks_top' %} class="navbar_items">Рейтинг</a>
        <a href={% url 'tracks_list_favorite' %} class="navbar_items">Избранное</a>
    {% if request.user.is_authenticated %}
        <p class="navbar_items">Треки</p>
        <p class="navbar_items">Исполнители</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="logout" type="submit">Выход</button>
        </form>
    {% else %}
        <a class="navbar_items" href={% url 'login' %}>Войти на сайт</a>
        <a class="navbar_items" href={% url 'signup' %}>Регистрация</a>
    {% endif %}
</div>
    </div>
</header>
    <br>
    {% block content %}

    {% endblock %}
<footer>
    <p>Уот так уот</p>
</footer>
</body>

</html>