{% extends 'base.html' %}

{% block content %}

<div class="top_list_header">
    <h1 class="top_list_item">Регистрация</h1>
</div>

<div style="display: flex; flex-direction: row; justify-content: center;">
    <form class="track_create_form" style="height: 450px;" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="track_create_button_block">
            <button class="track_create_button" type="submit">Добавить пользователя</button>
        </div>
    </form>
</div>

{% endblock %}

