{% extends 'base.html' %}

{% block content %}

<ul class="performers_block">
    {% for performer in all_performers %}
        <a href="tracks_only_list?performer={{ performer }}">
            <li class="performers">{{ performer }}</li>
        </a>
    {% endfor %}
</ul>

<div class="track_list_header">
    <h1 class="new_tracks">Все треки</h1>
</div>

<ul class="home_grid">
    
    {% for track in tracks %}
    <div class="home_grid_elements">
        <div style="display: flex; flex-direction: row; justify-content: end; width: 94%; margin-top: 3px;">
            {% if track.has_like %}
                <form action="{% url 'like_delete' track.id %}" method="post">
                    {% csrf_token %}
                    <button class="positive_like_button" type="submit"><img class="positive_like_image" src="../../static/images/icons850positive.png" alt=""></button>
                </form>
            {% else %}
                <form action="{% url 'like_create' track.id %}" method="post">
                    {% csrf_token %}
                    <button class="negative_like_button" type="submit"><img class="negative_like_image" src="../../static/images/icons850negative.png" alt=""></button>
                </form>
            {% endif %}
        </div>
        <a href={% url 'track_about' track.pk %}>
            <div class="in_home_grid_elements">
                <li style="font-size: larger;"><b style="white-space: nowrap; text-overflow: ellipsis;">{{ track.song }}</b></li>
                <li>{{ track.performer }}</li>
                <img class="home_images" src="{{ track.image.url }}" alt="track_image">
            </div>
            </a>
    </div>
    {% endfor %}
</ul>

{% endblock %}