{% extends 'base.html' %}

{% block content %}
<div class="track_about_page">
    <div class="track_about_block">
        <h3 style="margin-top: 0px;">{{ track.song }}</h3>
            <ul style="position: relative; right: 40px;">
                <li>Исполнитель: {{ track.performer }}</li>
                <li>Год: {{ track.year }}</li>
            </ul>
            <img class="track_about_image" src="{{ track.image.url }}" alt="track_image">
            <div class="track_about_button_block">
                <a class="update_button" href={% url 'track_update' track.pk %}>Редактировать</a>
                <a class="delete_button" href={% url 'track_delete' track.pk %}>Удалить</a>
            </div>
    </div>
</div>
{% endblock %}